<h1>Listing arranged_acupuncture_points</h1>

<table>
  <tr>
    <th>Document</th>
    <th>Index</th>
    <th>Acupuncture point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arranged_acupuncture_points.each do |arranged_acupuncture_point| %>
  <tr>
    <td><%= arranged_acupuncture_point.document_id %></td>
    <td><%= arranged_acupuncture_point.index %></td>
    <td><%= arranged_acupuncture_point.acupuncture_point_id %></td>
    <td><%= link_to 'Show', arranged_acupuncture_point %></td>
    <td><%= link_to '编辑', edit_arranged_acupuncture_point_path(arranged_acupuncture_point) %></td>
    <td><%= link_to 'Destroy', arranged_acupuncture_point, :confirm => '确定吗？', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Arranged acupuncture point', new_arranged_acupuncture_point_path %>
