<h1>穴位列表</h1>
<%= link_to '新建穴位', new_acupuncture_point_path %>

<table class="table table-striped table-bordered">
  <tr>
    <th>名字</th>
    <th>位置</th>
    <th>序号</th>
    <th>所在经络</th>
    <th></th>
  </tr>

<% @acupuncture_points.each do |acupuncture_point| %>
  <tr>
    <td><%= acupuncture_point.name %></td>
    <td><%= acupuncture_point.position%></td>
    <td><%= acupuncture_point.index %></td>
    <td><%= acupuncture_point.meridian.try(:name )%></td>
    <td><%= link_to '编辑', edit_acupuncture_point_path(acupuncture_point) %>
      <%= link_to '删除', acupuncture_point, :confirm => '确定吗？', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

