.alert{:style=>"750px"}
  步骤是： 1. 输入名字，2. 鼠标按顺序点击穴位 3. 点击"保存" 按钮
= form_for @document do |f|
  .field
    = f.label :user_name, "他的名字"
    = f.text_field :user_name
  #tabs
    %ul
      %li #{link_to "第一组足三阴", "#tab1" }
      %li #{link_to "第二组手三阴", "#tab2" }
      %li #{link_to "第三组手三阳", "#tab3" }
      %li #{link_to "第四组足三阳", "#tab4" }
    #tab1
      = render :partial => 'zusanyin_map'
    #tab2
      = render :partial => 'shousanyin_map'
    #tab3
      = render :partial => 'shousanyang_map'
    #tab4
      = render :partial => 'zusanyang_map'

  .actions{:style=>"float:right; width: 400px; clear:right "}
    = button_to_function "弄错了，重新来", "restart()", :class => "btn"
    = f.submit "弄好了, 保存！", :style => "margin-left: 30px", :class => "btn btn-primary"

:javascript
  $(function(){
    $('#tabs').tabs();
  })
