= form_for @document do |f|
  .field
    = f.label :user_name, "他的名字"
    = f.text_field :user_name
  = render :partial => 'leg_meridian_map'
  .actions
    = f.submit "确定"

:javascript
  $(function(){
    $("#left_leg").maphilight();
  })
