= form_for @document do |f|
  .field
    = f.label :user_name, "他的名字"
    = f.text_field :user_name
  .preview{:style=>"float:right; width: 400px; min-height: 200px; border: 1px solid red; "}
    (这里是预览内容)
    %ol
  .actions{:style=>"float:right; width: 400px; clear:right "}
    = button_to_function "弄错了，重新来", "restart()", :class => "btn"
    = f.submit "弄好了！", :style => "margin-left: 30px", :class => "btn"
  = hidden_field_tag :point_sequence
  = render :partial => 'leg_meridian_map'


:javascript
  $(function(){
    $("#left_leg").maphilight();

    $("form").submit(function(){
      $("#point_sequence").val(new cookieList("point_list_in_cookie").items())
    });
  })
