= image_tag "left_leg_with_points.png", :usemap => "#left_leg_map", :id => "left_leg"
%map{:name=>"left_leg_map" }
  -# 肝经
  = point_area :coordinates => "60, 558", :title => "大敦", :point_id => "1", :radius => 7
  = point_area :coordinates => "85, 547", :title => "行间", :point_id => "2"
  = point_area :coordinates => "111, 537", :title => "太冲", :point_id => "3"
  = point_area :coordinates => "167, 496", :title => "中封", :point_id => "4"
  = point_area :coordinates => "170, 373", :title => "蠡沟", :point_id => "5"
  = point_area :coordinates => "163, 326", :title => "中都", :point_id => "6"
  = point_area :coordinates => "191, 191", :title => "膝关", :point_id => "7"
  = point_area :coordinates => "191, 145", :title => "曲泉", :point_id => "8", :radius => 8

  -# 脾经
  = point_area :coordinates => "51, 567", :title => "隐白", :point_id => "2", :radius => 7
  = point_area :coordinates => "83, 569", :title => "大都", :point_id => "3"
  = point_area :coordinates => "110, 567", :title => "太白", :point_id => "4"
  = point_area :coordinates => "129, 555", :title => "公孙", :point_id => "5"
  = point_area :coordinates => "183, 508", :title => "商丘", :point_id => "6"
  = point_area :coordinates => "198, 416", :title => "三阴交", :point_id => "8"
  = point_area :coordinates => "183, 350", :title => "漏谷", :point_id => "7"
  = point_area :coordinates => "173, 260", :title => "地机", :point_id => "8"
  = point_area :coordinates => "168, 193", :title => "阴陵泉", :point_id => "8"
  = point_area :coordinates => "175, 80", :title => "血海", :point_id => "8"

  -# 肾经
  = point_area :coordinates => "130, 575", :title => "涌泉", :point_id => "2"
  = point_area :coordinates => "167, 546", :title => "然谷", :point_id => "2"
  = point_area :coordinates => "227, 479", :title => "太溪", :point_id => "2"
  = point_area :coordinates => "236, 496", :title => "大钟", :point_id => "2"
  = point_area :coordinates => "223, 513", :title => "水泉", :point_id => "2"
  = point_area :coordinates => "200, 493", :title => "照海", :point_id => "2"
  = point_area :coordinates => "231, 438", :title => "复溜", :point_id => "2"
  = point_area :coordinates => "211, 438", :title => "交信", :point_id => "2"
  = point_area :coordinates => "224, 368", :title => "筑宾", :point_id => "2"
  = point_area :coordinates => "208, 147", :title => "阴谷", :point_id => "8", :radius => 8
