.preview
  (这里是选好的穴位列表)
  %ol
= image_tag "shousanyang.jpg", :usemap => "#shousanyang_map", :id => "shousanyang"
%map{:name=>"shousanyang_map" }
  -# 小肠经
  = point_area :coordinates => "275, 760", :title => "少泽"
  = point_area :coordinates => "250, 680", :title => "前谷"
  = point_area :coordinates => "245, 640", :title => "后溪"
  = point_area :coordinates => "243, 590", :title => "腕骨"
  = point_area :coordinates => "250, 543", :title => "阳谷"
  = point_area :coordinates => "243, 522", :title => "养老"
  = point_area :coordinates => "206, 415", :title => "支正"
  = point_area :coordinates => "180, 230", :title => "小海"

  -# 三焦经
  = point_area :coordinates => "293, 775", :title => "关冲"
  = point_area :coordinates => "280, 670", :title => "液门"
  = point_area :coordinates => "280, 635", :title => "中渚"
  = point_area :coordinates => "275, 555", :title => "阳池"
  = point_area :coordinates => "278, 496", :title => "外关"
  = point_area :coordinates => "273, 470", :title => "支沟"
  = point_area :coordinates => "245, 475", :title => "会宗"
  = point_area :coordinates => "270, 440", :title => "三阳络"
  = point_area :coordinates => "255, 358", :title => "四渎"

  -# 大肠经
  = point_area :coordinates => "353, 770", :title => "商阳"
  = point_area :coordinates => "363, 690", :title => "二间"
  = point_area :coordinates => "359, 660", :title => "三间"
  = point_area :coordinates => "356, 593", :title => "合谷"
  = point_area :coordinates => "338, 545", :title => "阳溪"
  = point_area :coordinates => "318, 470", :title => "偏历"
  = point_area :coordinates => "314, 413", :title => "温溜"
  = point_area :coordinates => "", :title => "下廉"
  = point_area :coordinates => "", :title => "上廉"
  = point_area :coordinates => "", :title => "手三里"
  = point_area :coordinates => "290, 229", :title => "曲池"
:javascript
  $(function(){
    $("#shousanyang").maphilight();
    $.cookie("point_list_in_cookie", "")
    $("form").submit(function(){
      $("#point_sequence").val(new cookieList("point_list_in_cookie").items())
    });
  })

