- meridian_category_name = 'zusanyin'

.preview
  (足三阴：选好的穴位列表)
  %ol
= image_tag "zusanyin.jpg", :usemap => "##{meridian_category_name}", :id => meridian_category_name
= hidden_field_tag "point_sequence_#{meridian_category_name}"
%map{:name=> meridian_category_name}
  -# 肝经
  = point_area :coordinates => "180, 765", :title => "大敦",  :radius => 7
  = point_area :coordinates => "243, 758", :title => "行间"
  = point_area :coordinates => "300, 748", :title => "太冲"
  = point_area :coordinates => "417, 675", :title => "中封"
  = point_area :coordinates => "417, 490", :title => "蠡沟"
  = point_area :coordinates => "409, 420", :title => "中都"
  = point_area :coordinates => "425, 190", :title => "膝关"
  = point_area :coordinates => "415, 100", :title => "曲泉", :radius => 8

  -# 脾经
  = point_area :coordinates => "180, 780", :title => "隐白", :radius => 7
  = point_area :coordinates => "243, 775", :title => "大都"
  = point_area :coordinates => "302, 773", :title => "太白"
  = point_area :coordinates => "358, 760", :title => "公孙"
  = point_area :coordinates => "446, 690", :title => "商丘"
  = point_area :coordinates => "456, 566", :title => "三阴交"
  = point_area :coordinates => "450, 450", :title => "漏谷"
  = point_area :coordinates => "420, 302", :title => "地机"
  = point_area :coordinates => "390, 190", :title => "阴陵泉"
  = point_area :coordinates => "325, 85", :title => "血海"

  -# 肾经
  = point_area :coordinates => "225, 475", :title => "涌泉"
  = point_area :coordinates => "418, 745", :title => "然谷"
  = point_area :coordinates => "490, 679", :title => "太溪"
  = point_area :coordinates => "505, 699", :title => "大钟"
  = point_area :coordinates => "485, 714", :title => "水泉"
  = point_area :coordinates => "460, 703", :title => "照海"
  = point_area :coordinates => "500, 606", :title => "复溜"
  = point_area :coordinates => "475, 606", :title => "交信"
  = point_area :coordinates => "495, 490", :title => "筑宾"
  = point_area :coordinates => "460, 100", :title => "阴谷", :radius => 8
:javascript
  $(function(){
    $("#zusanyin").maphilight();
    $.cookie("point_list_in_cookie_zusanyin", "");
    $("form").submit(function(){
      $("#point_sequence_zusanyin").val(
        new cookieList('point_list_in_cookie_zusanyin').items())
    });
  })
