.preview
  (这里是选好的穴位列表)
  %ol
= image_tag "zusanyang.jpg", :usemap => "#zusanyang_map", :id => "zusanyang"
%map{:name=>"zusanyang_map" }
  -# 胃经
  = point_area :coordinates => "285, 335", :title => "足三里"
  = point_area :coordinates => "275, 414", :title => "上巨虚"
  = point_area :coordinates => "265, 475", :title => "条口"
  = point_area :coordinates => "265, 508", :title => "下巨虚"
  = point_area :coordinates => "248, 475", :title => "丰隆"
  = point_area :coordinates => "263, 702", :title => "解溪"
  = point_area :coordinates => "335, 742", :title => "冲阳"
  = point_area :coordinates => "389, 752", :title => "陷谷"
  = point_area :coordinates => "430, 760", :title => "内庭"
  = point_area :coordinates => "479, 770", :title => "厉兑"

  -# 胆经
  = point_area :coordinates => "240, 309", :title => "阳陵泉"
  = point_area :coordinates => "210, 508", :title => "阳交"
  = point_area :coordinates => "235, 508", :title => "外丘"
  = point_area :coordinates => "220, 560", :title => "光明"
  = point_area :coordinates => "220, 590", :title => "阳辅"
  = point_area :coordinates => "218, 620", :title => "悬钟"
  = point_area :coordinates => "218, 728", :title => "丘墟"
  = point_area :coordinates => "325, 770", :title => "足临泣"
  = point_area :coordinates => "379, 779", :title => "地五会"
  = point_area :coordinates => "420, 780", :title => "侠溪"
  = point_area :coordinates => "462, 785", :title => "足窍阴"

  -# 膀胱经
  = point_area :coordinates => "182, 508", :title => "飞扬"
  = point_area :coordinates => "188, 620", :title => "跗阳"
  = point_area :coordinates => "188, 710", :title => "昆仑"
  = point_area :coordinates => "188, 770", :title => "仆参"
  = point_area :coordinates => "215, 751", :title => "申脉"
  = point_area :coordinates => "235, 780", :title => "金门"
  = point_area :coordinates => "320, 789", :title => "京骨"
  = point_area :coordinates => "376, 795", :title => "束骨"
  = point_area :coordinates => "420, 800", :title => "足通谷"
  = point_area :coordinates => "445, 805", :title => "至阴"
:javascript
  $(function(){
    $("#zusanyang").maphilight();
    $.cookie("point_list_in_cookie", "")
    $("form").submit(function(){
      $("#point_sequence").val(new cookieList("point_list_in_cookie").items())
    });
  })

