<%= form_for(@meridian) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :meridian_type %><br />
    <%= f.text_field :meridian_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
